<!-- <div class="container-fuild">
  <div class="topnav">
    <img class="logo-img" src="../../assets/Images/120.png" />
    <div class="box1">
      <p
        style="
          font-family: Poppins;
          font-family: Poppins;
          font-size: 18px;
          font-weight: bold;
          margin: 7px 2px 2px 21px;
        "
      >
        12
      </p>
    </div>
    <div class="box2">
      <p
        style="
          font-family: Poppins;
          font-family: Poppins;
          font-size: 18px;
          font-weight: bold;
          margin: 7px 2px 2px 21px;
        "
      >
        00
      </p>
    </div>
    <div class="box3">
      <p
        style="
          font-family: Poppins;
          font-family: Poppins;
          font-size: 18px;
          font-weight: bold;
          margin: 7px 2px 2px 21px;
        "
      >
        AM
      </p>
    </div>
    <h3 class="heading">DashBoard</h3>

    <i
      class="material-icons"
      style="font-size: 48px; color: whitesmoke; display: in-block"
    ></i>
    <div class="dropdown">
      <button class="dropbtn">Sign-in</button>
      <div class="dropdown-content">
        <a href="#">Sign-in</a>
        <a href="#">Sign-out</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2" style="background-color:aliceblue;height:100vh;margin-top: -22px;">
        <div class="row side-view">
          <span>DashBOard</span>
          <hr />
        </div><br>
        <div class="row side-view">
          <span>SetUp</span>
          <hr />
        </div><br>
        <div class="row side-view">
          <span>Catagory</span>
          <hr />
        </div><br>
        <div class="row side-view">
          <span>Training</span>
          <hr />
        </div><br>
        <div class="row side-view">
          <span>Topic</span>
          <hr />
        </div><br>
        <div class="row side-view">
          <span style="white-space:nowrap">Assign Trainer</span>
          <hr />
        </div><br>
        <div class="row side-view">
          <span>Help</span>
          <hr />
        </div><br>
      </div> -->
      <div class="container-fuild">
        <div class="col-lg-12">
          
          <!-- <app-dash-board-form></app-dash-board-form> -->

          <app-student-data></app-student-data>


      </div>
    </div>
