/* .head-top {
  color: #ff0000;
  font-weight: bolder;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 37px 0px 22px 96px;
  text-align: center;
}
.inpt-filed {
  width: 30%;
  margin: 22px 10px 20px 10px;
}
.entr-inpt:focus {
  outline: none;
 
}
.entr-inpt {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  height: 41px;
  min-width: 100%;
  margin-left: 2px;
  font-family: Poppins;
}
.entr-inpt::placeholder {
  font-size: 16px;
  font-family: Poppins;
}

.smt-btn {
  height: 40px;
  width: 120px;
  font-size: 14px;
  color: whitesmoke;
  font-weight: bold;
  background-color: orangered;
  border: 20px;
  border-radius: 8px;
  margin: 37px 0px 22px 106px;
  text-align: center;
} */
*{

margin:0;
padding:0;


}

.topnav{

  height:71px;
  background-color: blue;
min-width:111vw;
}

.logo-img{

  height: 93px;
  width: 121px;
  display: inline-block;
  padding: 11px;
  position: relative;
  top: -11px;
  left: -11px;

}
.box1{
  height: 40px;
  width: 62px;
  background-color: whitesmoke;
  border: 7px;
  display: inline-block;
  position: relative;
  top: 5%;
  left: 9%;
  border-radius: 6px;
}
.box2{
  height: 40px;
  width: 62px;
  background-color: whitesmoke;
  border: 7px;
  display: inline-block;
  position: relative;
  top: 5%;
  left: 10%;
  border-radius: 6px;
  }
  
  .box3{
    height: 40px;
  width: 62px;
  background-color: whitesmoke;
  border: 7px;
  display: inline-block;
  position: relative;
  top: 5%;
  left: 11%;
  border-radius: 6px;
    }
    
    .heading{
      height: 15px;
      left: 44%;
      top: 100px;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 15px;
      letter-spacing: 0.5px;
      color: whitesmoke;
      display: inline-block;
      margin-left: 30%;
      }
  
      .dropbtn {
        background-color: white;
        
        padding: 8px;
        font-size: 15px;
       font-family: Poppins;
        color: black;
        cursor: pointer;
        border-radius: 8px;
        width: 90px;
      }
.dropdown {
  position: relative;
  display: inline-block;
  left: 41%;
  top: -9%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.side-view{

height:50px;
width:80%;
font-size: 14px;
font-family: Poppins;
font-weight: bold;
color: black;
padding: 2%;



}


