<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
      <img
        class="logo-img"
        src="../../assets/Images/120-removebg-preview (1).png"
      />
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <div class="box1">
        <p class="time1">{{ hh }}</p>
      </div>
      <div class="box2">
        <p class="time1">{{ mm }}</p>
      </div>
      <div class="box3">
        <p class="time1">{{ ampm }}</p>
      </div>
    </div>
    <div class="col-md-2"><h3 class="heading">DashBoard</h3></div>
    <div class="col-md-4"></div>
    <div class="col-md-1">
      <!-- <div data-toggle="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sign in
        </button>
        <div class="dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" >Sign in </a>
          <a class="dropdown-item" >Sign out</a>
          <a class="dropdown-item" >Something else here</a>
        </div>
      </div> -->

      <form>
        <select class="drop-btn" value="Admin">
          <option value="">ADMIN</option>
          <option value="Signin">Sign-in</option>
          <option>Sign-out</option>
        </select>
      </form>
      <!-- <div class="dropdown">
        <button class="drop-btn">Sign-in</button>
        <div class="dropdown-content">
          <a href="#">Sign-in</a>
          <a href="#">Sign-out</a>
        </div>
      </div> -->
    </div>
  </div>
</div>
