<div class="container-fluid" style="position: absolute;">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-3">
          <div class="card">
            <div class="row boder1">
              <p class="para">StaffCount</p>
            </div>
            <br />

            <div class="row">
              <p class="num-para">{{totalStaffCount}}</p>
            </div>
            <br />
            <br />
            <br />
            <div class="row">
              <a href="Staff" class="veiw-para">ViewDetails</a>
            </div>
            <br />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="row boder2">
              <p class="para">Announcement</p>
            </div>
            <br />

            <div class="row">
              <p class="num-para">{{totalHolidays}}</p>
            </div>
            <br />
            <br />
            <br />
            <div class="row">
              <a href="Home1" class="veiw-para">ViewDetails</a>
            </div>
            <br />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="row boder3">
              <p class="para">HolidayDashboard</p>
            </div>
            <br />

            <div class="row">
              <p class="num-para">{{totalHolidays}}</p>
            </div>
            <br />
            <br />
            <br />
            <div class="row">
              <a href="HolidayDashboard" class="veiw-para">ViewDetails</a>
            </div>
            <br />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="row boder4">
              <p class="para">CompanyCount</p>
            </div>
            <br />

            <div class="row">
              <p class="num-para">{{totalEmployee}}</p>
            </div>
            <br />
            <br />
            <br />

            <div class="row">
              <a href="Company" class="veiw-para">ViewDetails</a>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
