<div class="container" style="background-color: aliceblue">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-3">
          <div class="card" style="background-color: rgb(30, 17, 17)">
            <img
              src="../../assets/Images/img_avatar.png"
              class="small-card"
            /><br />
            <br />
            <br /><br /><br />
            <h6 class="para">Manikanta</h6>
            <h6 class="para">Happy Learning!!!</h6>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="row">
              <img
                src="../../assets/Images/030119_1009_SQLServerAr1 (1).jpg"
                class="bg-img"
              />
            </div>
            <br />
            <div class="row">
              <h3
                style="
                  font-family: Poppins;
                  color: blue;
                  font-weight: bolder;
                  font-size: 14px;
                  margin-left: 8px;
                "
              >
                Last Assigned
              </h3>
              <br />
              <br />
              <div class="row">
                <h6
                  style="
                    font-family: Poppins;
                    color: rgb(31, 31, 36);
                    font-weight: bold;
                    font-size: 14px;
                    margin-left: 8px;
                  "
                >
                  Selenium WebDrive
                </h6>
              </div>
              <br />
              <br />
            </div>
            <div class="row">
              <progress
                value=""
                max="100"
                style="width: 16vw; margin-left: 20px"
              ></progress>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="row">
              <h3 class="head-para1" style="text-align: center">Tarining</h3>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <div class="box"><p class="parapa1">6</p></div>
                    <P
                      style="
                        font-family: Poppins;
                        color: rgb(31, 31, 36);
                        font-weight: bold;
                        font-size: 14px;
                        white-space: nowrap;
                      "
                      >Not Started</P
                    >
                  </div>
                  <div class="col-md-4">
                    <div class="box">
                      <p class="parapa2">3</p>
                    </div>
                    <P
                      style="
                        font-family: Poppins;
                        color: rgb(31, 31, 36);
                        font-weight: bold;
                        font-size: 14px;
                        white-space: nowrap;
                      "
                      >In progress</P
                    >
                  </div>
                  <div class="col-md-4">
                    <div class="box"><p class="parapa3">1</p></div>
                    <P
                      style="
                        font-family: Poppins;
                        color: rgb(31, 31, 36);
                        font-weight: bold;
                        font-size: 14px;
                        white-space: nowrap;
                      "
                      >Completed</P
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <h3 class="head-para" style="text-align: center">Assignment</h3>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <div class="box"><p class="parapa4">4</p></div>
                    <P
                      style="
                        font-family: Poppins;
                        color: rgb(31, 31, 36);
                        font-weight: bold;
                        font-size: 14px;
                        white-space: nowrap;
                      "
                      >Not Started</P
                    >
                  </div>
                  <div class="col-md-4">
                    <div class="box"><p class="parapa5">2</p></div>
                    <P
                      style="
                        font-family: Poppins;
                        color: rgb(31, 31, 36);
                        font-weight: bold;
                        font-size: 14px;
                        white-space: nowrap;
                      "
                      >In progress</P
                    >
                  </div>
                  <div class="col-md-4">
                    <div class="box"><p class="parapa6">0</p></div>
                    <P
                      style="
                        font-family: Poppins;
                        color: rgb(31, 31, 36);
                        font-weight: bold;
                        font-size: 14px;
                        white-space: nowrap;
                      "
                      >Completed</P
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="row">
              <h3 class="head-para1" style="text-align: center">Learning</h3>
            </div>
            <div class="row">
              <h6 class="head-para" style="text-align: center">Assigned</h6>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <div class="box"><p class="parapa7">4</p></div>
                    <P
                      style="
                        font-family: Poppins;
                        color: rgb(31, 31, 36);
                        font-weight: bold;
                        font-size: 14px;
                        white-space: nowrap;
                      "
                      >Not Started</P
                    >
                  </div>
                  <div class="col-md-4">
                    <div class="box"><p class="parapa8">5</p></div>
                    <P
                      style="
                        font-family: Poppins;
                        color: rgb(31, 31, 36);
                        font-weight: bold;
                        font-size: 14px;
                        white-space: nowrap;
                      "
                      >In progress</P
                    >
                  </div>
                  <div class="col-md-4">
                    <div class="box"><p class="parapa9">0</p></div>
                    <P
                      style="
                        font-family: Poppins;
                        color: rgb(31, 31, 36);
                        font-weight: bold;
                        font-size: 14px;
                        white-space: nowrap;
                      "
                      >Completed</P
                    >
                  </div>
                </div>
              </div>
              <a
                href="#"
                style="
                  text-align: start;
                  margin-left: 15px;
                  font-family: Poppins;
                  color: rgb(31, 31, 36);
                  font-weight: bold;
                  font-size: 14px;
                  margin-top: 35px;
                "
                >View More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <br />

        <hr
          style="
               height: 3px;
    border-width: 45px;
    /* min-width: 76vw; */
    color: black;
    margin-left: -21px;
    margin-right: -42px;"
        />
        <div class="row">
          <div class="col-lg-6">
            <ul style="list-style: none">
              <li><a href="#">ALL</a></li>
              <li><a href="#">Enrolled Training</a></li>
              <li><a href="#">New Training</a></li>
              <li><a href="#">Completed Training</a></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <div class="box">
              <input type="search" placeholder="search" class="serch-bar" />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-3">
              <div class="card1">
                <img
                  src="../../assets/Images/030119_1009_SQLServerAr1 (1).jpg"
                  class="bg-img"
                /><br>
                <br>
                <div class="row">
                
                  <div class="col-md-6">
                    <label class="st-para">Start date <input class="st-date" type=date placeholder="Date"></label>
                  </div>
                  <div class="col-md-6">
                    <label class="st-para">End date <input class="st-date" type=date placeholder="Date"></label>
                  </div>
                </div><br>
                
                <div class="row">
                  <input type="button" value="Start Training"  class="sub-btnn"  />
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card1">
                <img
                  src="../../assets/Images/030119_1009_SQLServerAr1 (1).jpg"
                  class="bg-img"
                /><br>
                <br>
                <div class="row">
                  <!-- <div class="col-md-1"></div> -->
                  <div class="col-md-6">
                    <label class="st-para">Start date <input class="st-date" type=date placeholder="Date"></label>
                  </div>
                  <div class="col-md-6">
                    <label class="st-para">End date <input class="st-date" type=date placeholder="Date"></label>
                  </div>
                </div><br>
                
                <div class="row">
                  <input type="button" value="Start Training"  class="sub-btnn" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
