<p>about works!

    Hi I am Manikanta
</p>
    <div class="container-fuild ">
      <h2 class="head-top">Employe-Dashboard</h2>

      <div class="row">
        <div class="col-lg-2">
          <P class="inpt-text">Enter Your ID: </P>
          <input
            type="number"
            placeholder="Enter Your ID Number"
            class="entr-inpt"
          />
        </div>

        <div class="col-lg-3">
          <P class="inpt-text">First Name : </P>
          <input type="text" placeholder="Enter your Name" class="entr-inpt" />
        </div>

        <div class="col-lg-3">
          <p class="inpt-text">DateOfJoining :</p>
          <input
            type="date"
            placeholder="Enter your DateOfJoining"
            class="entr-inpt"
          />
        </div>

        <div class="col-lg-3">
          <p class="inpt-text">Education :</p>
          <input
            type="text"
            placeholder="Enter your Education"
            class="entr-inpt"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-lg-5"></div>
        <input class="smt-btn" type="submit" value="Submit" />
      </div>

      <table class="tbw">
        <tr class="tbg">
          <th>Name</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Address</th>
          <th>DateOfJoing</th>
          <th>GenderID</th>
          <th>GenderName</th>
          <th>DepartmentID</th>
          <th>DepartmentName</th>
          <th>salary</th>
          <th>BloodGroupID</th>
          <th>BloodGroupName</th>
          <th>countryID</th>
          <th>countryName</th>
          <th>stateID</th>
          <th>stateName</th>
          <th>cityID</th>
          <th>cityName</th>
          <th>Pincode</th>
        </tr>
       
      </table>
    </div>
