<div
  class="container"
  style="
    background-color: aliceblue;
   
  "
>
  <br /><br />
  <div class="row">
    <div class="col-lg-11">
      <label class="headings">My chat</label>
    </div>
    <!-- <div class="col-lg-1">
        <p class="addnew1">Count:11</p>
       
      </div> -->
  </div>
  <div class="row">
    <div class="card">
      <div class="row">
        <div class="col-lg-3">
          <input type="text" placeholder="Serach" class="entr-inpt" />
        </div>
        <div class="col-md-2"></div>
        <div class="col-lg-3">
          <select class="entr-inpt">
            <option class="entr-inpt">Select Department</option>
            <option class="entr-inpt">Select Department</option>
            <option class="entr-inpt">Select Department</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <br /><br /><br />
  <div class="big-card">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <!-- <div class="col-md-3">
          <h2 class="head">Select Training Category</h2>
          <div class="box">
            <br />
            <div class="row" style="background-color: skyblue">
              <div class="col-md-1">
                <input class="check-box" type="checkbox" />
              </div>
              <div class="col-md-1">
                <p style="white-space: nowrap" class="row-para">
                  Network Security
                </p>
              </div>
            </div>
            <br />
            <div class="row" style="background-color: skyblue">
              <div class="col-md-1">
                <input class="check-box" type="checkbox" />
              </div>
              <div class="col-md-1">
                <p style="white-space: nowrap" class="row-para">
                  Network Security
                </p>
              </div>
            </div>
            <br />
            <div class="row" style="background-color: skyblue">
              <div class="col-md-1">
                <input class="check-box" type="checkbox" />
              </div>
              <div class="col-md-1">
                <p style="white-space: nowrap" class="row-para">
                  Network Security
                </p>
              </div>
            </div>
            <br />
            <div class="row" style="background-color: skyblue">
              <div class="col-md-1">
                <input class="check-box" type="checkbox" />
              </div>
              <div class="col-md-1">
                <p style="white-space: nowrap" class="row-para">
                  Network Security
                </p>
              </div>
            </div>
            <br />
            <div class="row" style="background-color: skyblue">
              <div class="col-md-1">
                <input class="check-box" type="checkbox" />
              </div>
              <div class="col-md-1">
                <p style="white-space: nowrap" class="row-para">
                  Network Security
                </p>
              </div>
            </div>
            <br />
            <div class="row" style="background-color: skyblue">
              <div class="col-md-1">
                <input class="check-box" type="checkbox" />
              </div>
              <div class="col-md-1">
                <p style="white-space: nowrap" class="row-para">
                  Network Security
                </p>
              </div>
            </div>
            <br />
            <div class="row" style="background-color: skyblue">
              <div class="col-md-1">
                <input class="check-box" type="checkbox" />
              </div>
              <div class="col-md-1">
                <p style="white-space: nowrap" class="row-para">
                  Network Security
                </p>
              </div>
            </div>
            <br />
            <div class="row" style="background-color: skyblue">
              <div class="col-md-1">
                <input class="check-box" type="checkbox" />
              </div>
              <div class="col-md-1">
                <p style="white-space: nowrap" class="row-para">
                  Network Security
                </p>
              </div>
            </div>
            <br />
          </div>
        </div> -->
          <div class="col-md-3">
            <div class="card1">
              <span class="dot"><p class="alph-text">A</p></span>
              <p class="body-txt">Name:Arjun</p>

              <p class="body-txt1">Position:Employee</p>
              <p class="body-txt2">Department:<br>Management</p>
              <p class="body-txt3">Phone:9949538358</p>
              <p class="body-txt4">Email:Arjun@gmail.com</p>

              <!-- <div class="row">
              <img src="../../assets/Images/bridge.jpeg" class="top-img" />
            </div>

            <div class="row">
              <h2 class="para-head">Bridge Course</h2>
            </div>
            <br /><br /><br /><br />
            <br /><br />
            <div class="row">
              <p class="text-para">
                What is Bridge course in simple words? A bridge course for newly
                admitted students is conducted every year before the
                commencement of the first semester classes.
              </p>
            </div>

            <div class="row"><hr class="hr-line" /></div>
            <div class="row">
              <div class="col-md-4"><button class="en-btn">ENROLL</button></div>
              <div class="col-md-4">
                <button class="en-btn1">View Training</button>
              </div>
            </div> -->
            </div>
            <br />
            <div class="row">
              <div class="card2">
                <span class="dot"><p class="alph-text">D</p></span>
                <p class="body-txt">Name:Danny</p>

                <p class="body-txt1">Position:Employee</p>
                <p class="body-txt2">Department:<br>Management</p>
                <p class="body-txt3">Phone:9949538358</p>
                <p class="body-txt4">Email:Danny@gmail.com</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card1">
              <span class="dot"><p class="alph-text">K</p></span>
              <p class="body-txt">Name:Kiran</p>

              <p class="body-txt1">Position:Employee</p>
              <p class="body-txt2">Department:<br>Management</p>
              <p class="body-txt3">Phone:9949538358</p>
              <p class="body-txt4">Email:Kirana@gmail.com</p>

              <!-- <div class="row">
                <img src="../../assets/Images/bridge.jpeg" class="top-img" />
              </div>
  
              <div class="row">
                <h2 class="para-head">Bridge Course</h2>
              </div>
              <br /><br /><br /><br />
              <br /><br />
              <div class="row">
                <p class="text-para">
                  What is Bridge course in simple words? A bridge course for newly
                  admitted students is conducted every year before the
                  commencement of the first semester classes.
                </p>
              </div>
  
              <div class="row"><hr class="hr-line" /></div>
              <div class="row">
                <div class="col-md-4"><button class="en-btn">ENROLL</button></div>
                <div class="col-md-4">
                  <button class="en-btn1">View Training</button>
                </div>
              </div> -->
            </div>
            <br />

            <div class="card2">
              <span class="dot"><p class="alph-text">K</p></span>
              <p class="body-txt">Name:Kapil</p>

              <p class="body-txt1">Position:Employee</p>
              <p class="body-txt2">Department:<br>Management</p>
              <p class="body-txt3">Phone:9949538358</p>
              <p class="body-txt4">Email:Kapildev@gmail.com</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card1">
              <span class="dot"><p class="alph-text">R</p></span>

              <p class="body-txt">Name:Radha</p>

              <p class="body-txt1">Position:Employee</p>
              <p class="body-txt2">Department:<br>Management</p>
              <p class="body-txt3">Phone:9949538358</p>
              <p class="body-txt4">Email:Radha@gmail.com</p>

              <!-- <div class="row">
              <img src="../../assets/Images/digitalm.jpeg" class="top-img" />
            </div>

            <div class="row">
              <h2 class="para-head">Digital marketing</h2>
            </div>
            <br /><br /><br /><br />
            <br /><br />
            <div class="row">
              <p class="text-para">
                marketing is precisely what it sounds like -- a marketing
                campaign that uses text messages to deliver advertisements or
                promotions to users.
              </p>
            </div>

            <div class="row"><hr class="hr-line" /></div>
            <div class="row">
              <div class="col-md-4"><button class="en-btn">ENROLL</button></div>
              <div class="col-md-4">
                <button class="en-btn1">View Training</button>
              </div>
            </div> -->
            </div>
            <br />

            <div class="card2">
              <span class="dot"><p class="alph-text">R</p></span>
              <p class="body-txt">Name:ranjan</p>

              <p class="body-txt1">Position:Employee</p>
              <p class="body-txt2">Department:<br>Management</p>
              <p class="body-txt3">Phone:9949538358</p>
              <p class="body-txt4">Email:ranjan@gmail.com</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card1">
              <span class="dot"><p class="alph-text">R</p></span>
              <p class="body-txt">Name:Ranga</p>

              <p class="body-txt1">Position:Employee</p>
              <p class="body-txt2">Department:<br>Management</p>
              <p class="body-txt3">Phone:9949538358</p>
              <p class="body-txt4">Email:Ranga@gmail.com</p>
              <!-- <div class="row">
              <img
                src="../../assets/Images/Time-management-concept.jpeg"
                class="top-img"
              />
            </div>

            <div class="row">
              <h2 class="para-head">Time Management</h2>
            </div>
            <br /><br /><br /><br />
            <br /><br />
            <div class="row">
              <p class="text-para">
                Time management means organizing your time intelligently – so
                that you use it more effectively.time intelligently – so that
                you use it more effectively so that you use it more effectively
              </p>
            </div>

            <div class="row"><hr class="hr-line" /></div>
            <div class="row">
              <div class="col-md-4"><button class="en-btn">ENROLL</button></div>
              <div class="col-md-4">
                <button class="en-btn1">View Training</button>
              </div>
            </div> -->
            </div>
            <br />

            <div class="card2">
              <span class="dot"><p class="alph-text">S</p></span>
              <p class="body-txt">Name:Suresh</p>

              <p class="body-txt1">Position:Employee</p>
              <p class="body-txt2">Department:<br>Management</p>
              <p class="body-txt3">Phone:9949538358</p>
              <p class="body-txt4">Email:Suresh@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
