<div class="input-group">
    <input type="text">
        <label >Enter Your Name</label>
    </div><br>
    <br>
    <div class="input-group">
        <input type="text">
            <label >Enter Your Password</label>
        </div><br>
        <br><br>
        <br>
        <div class="row  button" >
          <button> SAVE</button>`
            </div>
            
<br>
<br>

<div class="row">
    <div class="col-lg-6">
            <div class="circle">

                <p class="mani">Manikanta Swamy</p>

            </div>
        </div>
        <div class="col-lg-6">
     
         

        </div>
<div class="row">
        <div class="circle1">

            <p class="mani1">Manikanta Swamy</p>

        </div>
    </div>



        </div>

    