<div Class="Container-fluid">
<div class="row">
  <div class="col-lg-1 side-bar-nav">
    <div class="row side-view">
      <img src="assets/Images/house.png" class="line-img" />
      <a routerLink="/NewDashBoard" class="Side-text">DashBOard</a>
      <hr class="br-line" />
    </div>
    <br />
    <div class="row side-view">
      <img src="../../assets/Images/book.png" class="line-img" />

      <a routerLink="/TableData" class="Side-text">Employee</a>
      <hr class="br-line" />
    </div>
    <br />
    <!-- <div class="row side-view">
      <img src="../../assets/Images/chat.png" class="line-img" />
      <a routerLink="/LoginForm" class="Side-text">vailaDoc</a>
      <hr class="br-line" />
    </div> -->
    <br />
    <div class="row side-view">
      <img src="../../assets/Images/folder.png" class="line-img" />
      <a routerLink="/LearningAndDevelopment" class="Side-text">Training</a>
      <hr class="br-line" />
    </div>
    <br />
    <div class="row side-view">
      <img src="../../assets/Images/logout.png" class="line-img" />
      <a routerLink="/DummyLoginForm" class="Side-text">Login</a>
      <hr class="br-line" />
    </div>
    <br />
    <div class="row side-view">
      <img src="../../assets/Images/settings.png" class="line-img" />
      <a routerLink="/Chat" class="Side-text">Chat</a>
      <hr class="br-line" />
    </div>
    <br />
    <div class="row side-view">
      <img src="../../assets/Images/chat.png" class="line-img" />
      <a routerLink="/HolidayDashboard" class="Side-text">HolidayDashboard</a>
      <hr class="br-line" />
    </div>
    <br />
    <div class="row side-view">
      <img src="../../assets/Images/chat.png" class="line-img" />
      <a routerLink="/LeaveElection" class="Side-text">LeaveElection</a>
      <hr class="br-line" />
    </div>
    <br />
    <div class="row side-view">
      <img src="../../assets/Images/chat.png" class="line-img" />
      <a routerLink="/Staff" class="Side-text">Staff</a>
      <hr class="br-line" />
    </div>
    <br />
    <div class="row side-view">
      <img src="../../assets/Images/chat.png" class="line-img" />
      <a routerLink="/Company" class="Side-text">Company</a>
      <hr class="br-line" />
    </div>
    <br />
    <div class="row side-view">
      <img src="../../assets/Images/chat.png" class="line-img" />
      <a routerLink="/Home1" class="Side-text">Home</a>
      <hr class="br-line" />
    </div>
    <br />
    <div class="row side-view">
      <img src="../../assets/Images/logout.png" class="line-img" />
      <a routerLink="/AmazeData" class="Side-text">AmazeData</a>
      <hr class="br-line" />
    </div>
    <br />
    <!-- <div class="row side-view">
      <img src="../../assets/Images/logout.png" class="line-img" />
      <a routerLink="/AmazeStaffDetails" class="Side-text">AmazeLoginDetails</a>
      <hr class="br-line" />
    </div> -->
    <br />
  </div>
</div>
 
</div>
