<div class="container">
    <br />
    <br />
    <br />
    <div class="card">
      <br /><br />
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
          <label>Short*</label>
          <input
            type="text"
            placeholder="Enter your ID"
            class="entr-inpt"
            [(ngModel)]="short"
          name="short"
          />
        </div>
  
        <div class="col-lg-2">
          <label>Description*</label>
          <input
            type="text"
            placeholder="Enter Your Description "
            class="entr-inpt"
            [(ngModel)]="description"
            name="description"
          />
        </div>

      <div class="row">
        <div class="col-lg-8"></div>
        <div class="col-lg-1">
          <button class="smt-btn" (click)="post()">{{ submit }}</button>
        </div>
        <div class="col-lg-2">
          <button class="smt-btn" routerLink="/LevelMar">Cancel</button>
        </div>
        <br />
        <br />
      </div>
      <br />
    </div>
  </div>
