<div class="container-fluid">
  <div class="row">
    <div class="col-lg-11">
      <br />
      <label class="headings">Staff Dashboard </label>
    </div>
  </div>
  <br />
  <div class="card staff">
    <div class="row">
      <div class="col-lg-2">
        <h6 style="margin: 5px 0 0 20px">Filter By</h6>
      </div>
      <div class="col-lg 1">
        <select
        style="width: 90%"
        name=""
        id="enteryourID"
        class="form-control"
        placeholder="Select Department"
        name="enteryourID"
        [(ngModel)]="enteryourID"
        (change)="filterEmployee()"
      >
        <option value="">Select EmployeeID</option>
        <option value="{{ list.id }}" *ngFor="let list of staff">
          {{ list.employeeID }}
        </option>

        <option value=""></option>
      </select>
      </div>

      <div class="col-lg 1">
        <select
          style="width: 90%"
          name=""
          id="enteryourID"
          class="form-control"
          placeholder="Select Department"
          name="enteryourID"
          [(ngModel)]="enteryourID"
          (change)="filterEmployee()"
        >
          <option value="">Select Department</option>
          <option value="{{ list.id }}" *ngFor="let list of staff">
            {{ list.department }}
          </option>

          <option value=""></option>
        </select>
      </div>

      <div class="col-lg 1">
        <select
        style="width: 90%"
        id="enteryourID"
        class="form-control"
        placeholder="Select Department"
        name="enteryourID"
        [(ngModel)]="enteryourID"
        (change)="filterEmployee()"
      >
        <option value="">Select Gender</option>
        <option *ngFor="let list of staff" value="{{ list.id }}" >
          {{ list.gender }}
        </option>

        <option value=""></option>
      </select>
      </div>

      <div class="col-lg 1">
        <select
        style="width: 90%"
        name=""
        id="enteryourID"
        class="form-control"
        placeholder="Select Department"
        name="enteryourID"
        [(ngModel)]="enteryourID"
        (change)="filterEmployee()"
      >
        <option value="">Select Your EMail</option>
        <option value="{{ list.id }}" *ngFor="let list of staff">
          {{ list.email }}
        </option>

        <option value=""></option>
      </select>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-3">
        <input
          style="width: 126%"
          type="text"
          placeholder="search for staff"
          class="form-control"
        />
      </div>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col-lg-6">
      <label class="headings">SHOWING 97 RESULTS</label>
    </div>
    <!-- <div class="col-lg-2">
      <button class="addnew">UPLOAD STAFF</button>
    </div> -->
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <button routerLink="/StaffDetails" class="addnew">Add NEW</button>
    </div>
  </div>
  <br />
  <div class="row" style="overflow-x: auto; width: 100%">
    <div class="col-lg-12">
      <div>
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Department</th>
            <th>Gender</th>
            <th>Position</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Date of Joining</th>
            <th>Manager</th>
            <th>Actions</th>
          </tr>
          <tr></tr>
          <tr *ngFor="let list of staff">
            <td>{{ list.id }}</td>
            <td>{{ list.employeeID }}</td>
            <td>{{ list.employeeName }}</td>
            <td>{{ list.department }}</td>
            <td>{{ list.gender }}</td>
            <td>{{ list.position }}</td>
            <td>{{ list.phoneNumber }}</td>
            <td>{{ list.email }}</td>
            <td>{{ list.dateofJoining }}</td>
            <td>{{ list.manager }}</td>
            <td>
              <button (click)="edit(list.id)" class="addnew">Edit</button>
              <br />
              <br />
              <br />
              <button (click)="delete(list.id)" class="addnew">Delete</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
