<div class="container-fuild ">

    <div class="card-img">
        
        <div class="row">
            <h1 class="login-form body">Login form</h1>

        </div>

        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-2  mrg-space">
                <label class="inpt-text">Enter Your Name :</label>
            </div>
            <div class="col-lg-3">
                <input class="entr-inpt" type="text" placeholder="enter your Name"  name="enterYourName">
            </div>

        </div>
        
        
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-2  mrg-space"> 
                <label class="inpt-text">Enter Your Email :</label>
            </div>
            <div class="col-lg-3">
                <input class="entr-inpt" type="text" placeholder="enter your Email" [ name="enterYourEmail">
            </div>

        </div>
        
        
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-2  mrg-space">
                <label class="inpt-text">Enter Your PassWord :</label>
            </div>
            <div class="col-lg-3">
                <input class="entr-inpt" type="password" placeholder="enter your PassWord" name="enterYourPassWord"> 
            </div>

        </div>
        
        
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-2  mrg-space">
                <label class="inpt-text">DateOfJoining :</label> 
            </div>
            
            <div class="col-lg-3">
                <input  type="date"
                    placeholder="Enter your DateOfJoining" class="entr-inpt"  name="enterYourDateOfJoining">
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-2">

                <label class="inpt-text">Education :</label><br />
            </div>
            <div class="col-lg-3">
               
                <input class="entr-inpt" type="text" placeholder="enter your Education"  name="enterYourEducation">
                   
              
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-2  mrg-space">
                <label class="inpt-text">Gender :</label><br />
            </div>


            <div class="col-lg-3">
                <select class="entr-inpt">

                    <option value="Male">Male</option>
                    <option value="Fe-Male">Fe-Male</option>

                </select>
            </div>

        </div>
        
        
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-2  mrg-space">
                <label class="inpt-text">Address :</label><br />
            </div>
            <div class="col-lg-3">
                <select class="entr-inpt">
                    <option value="Enter Your Education">Enter Your Adress</option>
                    <option value="Bangulore">Bangulore</option>
                    <option value="Andhra">Andhra</option>
                    <option value="Telangana">Telangana</option>
                </select>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-2  mrg-space">
                <label class="inpt-text">Country :</label><br />
            </div>
            <div class="col-lg-3">
                <select class="entr-inpt">
                    <option value="Enter Your Education">Enter Your Country name</option>
                    <option value="India">India</option>
                    <option value="USA">USA</option>
                    <option value="Thailand">Thailand</option>
                </select>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-2  mrg-space">
                <label class="inpt-text">State :</label><br />
            </div>
            <div class="col-lg-3">
                <select class="entr-inpt">
                    <option value="Enter Your Education">Enter Your State name</option>
                    <option value="India">Andhra</option>
                    <option value="USA">Telangana</option>
                    <option value="Thailand">Karunool</option>
                </select>
            </div>
        </div>
        
           <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-2  mrg-space">
                <label class="inpt-text">City :</label><br />
            </div>
            <div class="col-lg-3">
                <select class="entr-inpt" >
                    <option value="Enter Your Education">Enter Your City name</option>
                    <option value="India">Nidadavole</option>
                    <option value="USA">Rajamndry</option>
                    <option value="Thailand">Tanuku</option>
                </select>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-2 mrg-space">
                <label class="inpt-text">Salary :</label><br />
            </div>
            <div class="col-lg-3">
                <select class="entr-inpt">
                    <option value="#">Salary</option>
                    <option value="#">25000</option>
                    <option value="#">18000</option>
                    <option value="#">22.500</option>
                </select>
            </div>
        </div>
        
        

        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <label class="rember-text">
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-lg-5"></div>
            <input class="smt-btn" type="submit" value="Submit">
            

        </div>

    </div>
</div>