<div class="container">
  <div class="row">
    <div class="col-lg-11">
      <label class="headings">Catalog</label>
    </div>
    <div class="col-lg-1">
      <p class="addnew1">Count:11</p>
      <!-- <button routerLink="/DashBoardForm" class="addnew1">Add</button> -->
    </div>
  </div>
  <br />
  <br />

  <div class="row">
    <div class="card">
      <div class="row">
        <div class="col-lg-1">
          <span style="font-family: Poppins; font-weight: 600; font-size: 14px"
            >Filter By</span
          >
        </div>
        <div class="col-lg-3">
          <input
            type="text"
            placeholder="Want Do Want to Learn"
            class="entr-inpt"
          />
        </div>
      </div>
    </div>
  </div>
  <br><br><br>

  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-3">
          <h2 class="head">Select Training Category</h2>
          <div class="box">
            <br />
            <div class="row" style="background-color: skyblue">
              <div class="col-md-1"><input class="check-box" type="checkbox" /></div>
              <div class="col-md-1">
                <p style="white-space: nowrap" class="row-para">Network Security</p>
              </div>
            </div>
            <br />
            <div class="row" style="background-color: skyblue">
              <div class="col-md-1"><input class="check-box"type="checkbox" /></div>
              <div class="col-md-1">
                <p style="white-space: nowrap" class="row-para">Network Security</p>
              </div>
            </div>
            <br />
            <div class="row" style="background-color: skyblue">
              <div class="col-md-1"><input class="check-box" type="checkbox" /></div>
              <div class="col-md-1">
                <p style="white-space: nowrap" class="row-para">Network Security</p>
              </div>
            </div>
            <br />
            <div class="row" style="background-color: skyblue">
              <div class="col-md-1"><input class="check-box" type="checkbox" /></div>
              <div class="col-md-1">
                <p style="white-space: nowrap" class="row-para">Network Security</p>
              </div>
            </div>
            <br />
            <div class="row" style="background-color: skyblue">
              <div class="col-md-1"><input class="check-box" type="checkbox" /></div>
              <div class="col-md-1">
                <p style="white-space: nowrap" class="row-para">Network Security</p>
              </div>
            </div>
            <br />
            <div class="row" style="background-color: skyblue">
              <div class="col-md-1"><input class="check-box" type="checkbox" /></div>
              <div class="col-md-1">
                <p style="white-space: nowrap" class="row-para">Network Security</p>
              </div>
            </div>
            <br />
            <div class="row" style="background-color: skyblue">
              <div class="col-md-1"><input class="check-box" type="checkbox" /></div>
              <div class="col-md-1">
                <p style="white-space: nowrap" class="row-para">Network Security</p>
              </div>
            </div>
            <br />
            <div class="row" style="background-color: skyblue">
              <div class="col-md-1"><input class="check-box"type="checkbox" /></div>
              <div class="col-md-1">
                <p style="white-space: nowrap" class="row-para">Network Security</p>
              </div>
            </div>
            <br />
          </div>
        </div>
        <div class="col-md-3">
          
          <div class="card1">
            <div class="row">
                <img src="../../assets/Images/bridge.jpeg" class="top-img">
            
            </div>

            <div class="row">
                
                <h2 class="para-head">Bridge Course</h2>
            
            </div>
            <br><br><br><br> <br><br>
            <div class="row">
                <p class="text-para">What is Bridge course in simple words?
                    A bridge course for newly admitted students is conducted every year before the commencement of the first semester classes.</p>
            </div>

            <div class="row"><hr class="hr-line"></div>
            <div class="row">
              <div class="col-md-4"><button class="en-btn">ENROLL</button></div>
              <div class="col-md-4"><button class="en-btn1">View Training</button></div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="box1">
              <div class="row">
                  <img src="../../assets/Images/java-logo1.png" class="dwn-img">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="card1">
                <div class="row"> <img src="../../assets/Images/digitalm.jpeg" class="top-img">
                </div>
               
                <div class="row">
                  
                    <h2 class="para-head">Digital marketing</h2>
            
                </div>
                <br><br><br><br> <br><br>
                <div class="row"><p class="text-para">marketing is precisely what it sounds like -- a marketing campaign that uses text messages to deliver advertisements or promotions to users.
                </p></div>
    
                <div class="row"><hr class="hr-line"></div>
                <div class="row">
                 
                  <div class="col-md-4"><button class="en-btn">ENROLL</button></div>
                  <div class="col-md-4"><button class="en-btn1">View Training</button></div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="box1">
                    <img src="../../assets/Images/digi.jpeg" class="dwn-img2">
                </div>
              </div></div>
        <div class="col-md-3">
            <div class="card1">
            
                <div class="row">
                    <img src="../../assets/Images/Time-management-concept.jpeg" class="top-img">
                
                
                </div>
    
                <div class="row">
                    
                    <h2 class="para-head">Time Management</h2>
                
                
                </div>
                <br><br><br><br> <br><br>
                <div class="row"><p class="text-para">Time management means organizing your time intelligently – so that you use it more effectively.time intelligently – so that you use it more effectively
                    so that you use it more effectively
                </p></div>
               
                <div class="row"><hr class="hr-line"></div>
                <div class="row">
                 
                  <div class="col-md-4"><button class="en-btn">ENROLL</button></div>
                  <div class="col-md-4"><button class="en-btn1">View Training</button></div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="box1">
                    <img src="../../assets/Images/internet-security-firewall-other-software-260nw-1571120260.png" class="dwn-img3">
                </div>
              </div></div>
      </div>
    </div>
  </div>
</div>
